.md-content {
  --base-color: #5a8e54;
  fieldset.think {
    padding: 0.5rem;
    border: 1px solid var(--base-color);
    border-radius: 2px;
    margin-bottom: 1em;
    white-space: pre-wrap;
    font-size: 0.85em;
    line-height: 1.5;

    p {
      margin-bottom: 0;
    }

    legend {
      color: var(--base-color);
      padding: 2px 10px;
    }

    summary {
      background-color: var(--base-color);
      padding: 2px 6px;
      color: #fff;
      border-radius: 2px;
      &::before {
        content: '展开';
      }
    }

    details[open] > summary {
      &::before {
        content: '折叠';
      }
    }
  }

  .cp-btn {
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.2rem 1rem;
    background-color: #202020;
    color: white;
    cursor: pointer;
  }

  .code-tools {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
    background-color: #e6e6e6;
    padding: 0.2rem;
    border-radius: 6px;
    > .language {
      text-transform: uppercase;
      font-family: 'Times New Roman', Times, serif;
      margin-left: 1rem;
    }

    > .split {
      margin-left: auto;
    }
  }

  pre[data-mermaid-rendered='true'] {
    background-color: transparent !important;
    > code {
      display: none;
    }
  }
}
